html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27, 4, 49);
    font-family: 'Poppins', sans-serif;
    margin: 0
}

main {
    margin: 200px;
}

nav {
    background-color: #181824;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

section {
    margin-top: 80px;

}

.heading {
    color: #7562E0;
}

.horizontal {
    display: flex;
    gap: 30px;
    list-style: none;
}

.horizontal a {
    text-decoration: none;
    color: white;
}

.horizontal a:hover {
    color: #6b4ce0;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -100px;

}

.thero {
    animation: fade 2s forwards;
    animation-delay: 0.5s;
}

.himg img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin-right: 240px;
    cursor: pointer;
}

.btn {
    display: flex;
    margin-bottom: 30px;
}

.btn button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

#btn1 {
    background-color: #7562E0;
    border: none;
    border-radius: 5px;
    padding: 7px 30px;
    margin-right: 15px;
}

#btn2 {
    background: transparent;
    border: 2px solid #7562E0;
    border-radius: 5px;
    padding: 7px 30px;
}

.btn a {
    text-decoration: none;
}

.btn button:hover {
    background-color: #6b4ce0 !important;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(117, 98, 224, 0.4);
}

.btn img {
    filter: invert(1);
}

#blank {
    background-color: #181824;
    height: 100px;
    margin: 20px;
    margin-left: -200px;
    margin-right: -200px;
}

table {
    width: 77%;
}

table th {
    background-color: rgba(64, 63, 72, 0.833);
    width: 25%
}

.ibox {
    margin-right: 240px;
    gap: 10px
}

.icard {
    border: 2px solid #6366f1;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 10px;
    flex: 1;
}

.icard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(117, 98, 224, 0.4);
    border-color: #9b87f5;
}


.icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;

}

.icon img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
}

.ifirst {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    gap: 10px;
}

.isecond {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.pbox {
    display: flex;
    justify-content: space-around;
    margin-right: 240px;
    gap: 10px;
}

.pcard {
    border-radius: 16px;
    padding: 40px 10px;
    background-color: rgba(64, 63, 72, 0.833);
    display: flex;
    flex-direction: column;
    height: 315px;
    flex: 1;
}

.pcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(117, 98, 224, 0.4);
}

.pcon {
    width: 250px;
    height: 150px;
    margin: 0 auto 20px;
}

.pcon img {
    width: 100%;
    height: 100%;
    margin-top: -20px;

}

.ptn {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.ptn1 {
    background-color: #7562E0;
    border: none;
    border-radius: 5px;
    padding: 7px 30px;
    cursor: pointer;
}

.ptn2 {
    background: transparent;
    border: 2px solid #7562E0;
    border-radius: 5px;
    padding: 7px 20px;
    cursor: pointer;
}

.ptn button:hover {
    background-color: #6b4ce0 !important;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(117, 98, 224, 0.4);
}

#contact {
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
}

.register * {
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    border: none;
}

.register input {
    width: 320px;
    height: 40px;
}

.register textarea {
    width: 320px;
    height: 60px;
}

#cbutton {
    border: none;
    background-color: #7562E0;
    padding: 7px 30px;
    cursor: pointer;
}

#cbutton:hover {
    background-color: #6b4ce0 !important;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(117, 98, 224, 0.4);
}

.favi :hover {
    transform: translateY(-5px);
}

footer {
    margin: 200px;
    margin-bottom: 50px;
}

.end {
    margin-right: 250px;
}

.boots {
    display: flex;
    justify-content: space-between;
    color: grey;
    margin-bottom: 5px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}